@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');

* {
    margin: 0%;
    font-family: "Big Shoulders Stencil", sans-serif;

}

.LinkStyle {
    display: inline-flex;
    white-space: nowrap;
    font-size: 170%;
    padding: 1.5% 5% 1.5% 5%;
    margin: 10%;
    border-radius: 10%;
    color: black;
    text-decoration: none;
    text-align: center;
    color: white;

}

.BotaoBordaBrancoStyle {
    border-style: solid;
    border-color: white;

}

.BotaoAnimacao:hover {
    transition-duration: 200ms;
    opacity: 0.4;

}